name: Tests

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  unit:
    name: Unit tests
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version-file: '.node-version'
      - name: Install dependencies
        run: yarn --frozen-lockfile --non-interactive --silent --ignore-scripts
      - name: Run unit tests
        run: yarn test
      - name: Run plugin tests
        run: yarn test:plugin

  ios:
    name: iOS integration tests
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version-file: '.node-version'
      - name: Install dependencies
        run: yarn --frozen-lockfile --non-interactive --silent
      - name: Install example project dependencies
        run: yarn --frozen-lockfile --non-interactive --silent
        working-directory: Example
      - name: Install example project cocoapods
        run: pod install --project-directory=ios
        working-directory: Example
      - name: Ensure SVG files are stripped
        run: ./tests/ensure-svgs-stripped-ios.sh
